{% extends "base.html" %}

{% block page_title %}
    Search 
{% endblock page_title %}

{% comment %}
base.html 에 search-bar를 넣어놨으니 모든 템플릿에 그 block 이 보일것임 (base.html을 extends를 했다면)
근데 우리는 이 search 템플릿에서 그것을 보여주고싶지않음 밑에 content block에 이미 있기 때문에 
그래서 같은 이름의 block을 만들어서 아무것도 안넣으면 보이지 않게 되는 것 
{% endcomment %}
{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <h2>Search !</h2>

    <form method="get" action="{% url "rooms:search" %}">
        {{form.as_p}}
        <button>Search</button>
    </form>

    <div>
    <h2>Result for Search</h2>
        {% for room in rooms %}
            <h4>{{room.name}}</h4>
        {% endfor %}
    </div>

{% endblock content %}